
a{text-decoration:none;color:#000000;}

.main{font-size: 1em;width: 100%;height:auto;margin:0 auto;line-height: 38px;overflow:hidden;}
.main-top{height: 10%;font-size:1em;width:100%;background:#f5f5f9;margin:0 auto;overflow:hidden;}
.logo{width: 20%;float: left;}
.daohang{width: 80%;float: left;text-align: center;}
	.shouye{float: left;width: 20%;}
	.jishu{float: left;width: 20%;}
	.anli{float: left;width: 20%;}
	.aboutus{float: left;width: 20%;}
.middle{height: 80%;font-size: 1em;width: 80%;background: #f5f5f9;margin:0 auto;overflow:hidden;}
	.middle-left{width: 20%;float:left;text-align: center;}
	.middle-right{width: 80%;float:left;}
.bottom{height: 10%;font-size: 1em;width: 100%;background:#f5f5f9;margin:0 auto;overflow:hidden;}
	.bottom-left{}
	.bottom-right{}
	.bottom-address{}

#warp{font-size: 1em;line-height: 38px;width: 960px;height: auto;margin: 0;overflow: hidden;}
#header{font-size: 1em;line-height: 38px;width: 100%;height: auto;margin: 0;overflow: hidden;}
	.header-logo{width: 20%;height: auto;float: left;}
	.header-a{width: 80%;height: auto;}
		.header-a-index{width: 13%;float: left;}
		.header-a-greenwall{width: 13%;float: left;}
		.header-a-housegreen{width: 13%;float: left;}
		.header-a-technology{width: 13%;float: left;}
		.header-a-project{width: 13%;float: left;}
		.header-a-aboutus{width: 13%;}
#mainbody{}
#footer{}